ESP32/esp32modbus/esp32_modbus_flow.json
[{"id":"3b432bc7.cc6a44","type":"tab","label":"esp32_modbus","disabled":false,"info":""},{"id":"a096b1ce.356f","type":"mqtt in","z":"3b432bc7.cc6a44","name":"Temperature1","topic":"esp32_modbus01/temperature1","qos":"2","datatype":"auto","broker":"eca985a7.9c44f8","x":320,"y":140,"wires":[["58aea8dd.67ce88","d7cba176.eab8d"]]},{"id":"79e5816.a73af8","type":"mqtt in","z":"3b432bc7.cc6a44","name":"Humidity1","topic":"esp32_modbus01/humidity1","qos":"2","datatype":"auto","broker":"eca985a7.9c44f8","x":320,"y":240,"wires":[["84486058.fd47d","4521bd34.4915e4"]]},{"id":"84486058.fd47d","type":"ui_gauge","z":"3b432bc7.cc6a44","name":"Humidity1","group":"84bd46a7.955988","order":2,"width":"0","height":"0","gtype":"donut","title":"Humidity1","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#acd5dc","#00a1e6","#1219f8"],"seg1":"50","seg2":"50.1","x":620,"y":240,"wires":[]},{"id":"58aea8dd.67ce88","type":"ui_chart","z":"3b432bc7.cc6a44","name":"Temperature Chart1","group":"1b3079ce.631e06","order":4,"width":"0","height":"0","label":"Temperature Chart1","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":650,"y":180,"wires":[[]]},{"id":"4521bd34.4915e4","type":"ui_chart","z":"3b432bc7.cc6a44","name":"Humidity chart1","group":"84bd46a7.955988","order":4,"width":"0","height":"0","label":"Humidity chart1","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":640,"y":300,"wires":[[]]},{"id":"d7cba176.eab8d","type":"ui_gauge","z":"3b432bc7.cc6a44","name":"Temperature1","group":"1b3079ce.631e06","order":2,"width":"0","height":"0","gtype":"donut","title":"Temperature1","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"25","seg2":"25.1","x":640,"y":80,"wires":[]},{"id":"c2d0f2ba.db8b8","type":"mqtt in","z":"3b432bc7.cc6a44","name":"Temperature2","topic":"esp32_modbus01/temperature2","qos":"2","datatype":"auto","broker":"eca985a7.9c44f8","x":310,"y":440,"wires":[["da3a2350.39804","96990857.d5e8e8"]]},{"id":"7533ee1f.a12b2","type":"mqtt in","z":"3b432bc7.cc6a44","name":"Humidity2","topic":"esp32_modbus01/humidity2","qos":"2","datatype":"auto","broker":"eca985a7.9c44f8","x":310,"y":540,"wires":[["7002962.bfdc268","67153574.f78e9c"]]},{"id":"7002962.bfdc268","type":"ui_gauge","z":"3b432bc7.cc6a44","name":"Humidity2","group":"a4fd74e7.96c688","order":2,"width":"6","height":"5","gtype":"donut","title":"Humidity2","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#acd5dc","#00a1e6","#1219f8"],"seg1":"50","seg2":"50.1","x":610,"y":540,"wires":[]},{"id":"da3a2350.39804","type":"ui_chart","z":"3b432bc7.cc6a44","name":"Temperature Chart2","group":"db66c9cb.c18e08","order":7,"width":"6","height":"5","label":"Temperature Chart2","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":640,"y":480,"wires":[[]]},{"id":"67153574.f78e9c","type":"ui_chart","z":"3b432bc7.cc6a44","name":"Humidity chart2","group":"a4fd74e7.96c688","order":7,"width":"6","height":"5","label":"Humidity chart2","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":630,"y":600,"wires":[[]]},{"id":"96990857.d5e8e8","type":"ui_gauge","z":"3b432bc7.cc6a44","name":"Temperature2","group":"db66c9cb.c18e08","order":2,"width":"6","height":"5","gtype":"donut","title":"Temperature2","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"25","seg2":"25.1","x":630,"y":380,"wires":[]},{"id":"f07b5e9c.25aa6","type":"mqtt in","z":"3b432bc7.cc6a44","name":"Temperature3","topic":"esp32_modbus01/temperature3","qos":"2","datatype":"auto","broker":"eca985a7.9c44f8","x":310,"y":720,"wires":[["2749bf3f.6992a","8db9b480.374f18"]]},{"id":"185493b7.3dff1c","type":"mqtt in","z":"3b432bc7.cc6a44","name":"Humidity3","topic":"esp32_modbus01/humidity3","qos":"2","datatype":"auto","broker":"eca985a7.9c44f8","x":310,"y":820,"wires":[["a0551e91.54fa3","9512d624.875538"]]},{"id":"a0551e91.54fa3","type":"ui_gauge","z":"3b432bc7.cc6a44","name":"Humidity3","group":"3e00803d.95093","order":3,"width":"6","height":"5","gtype":"donut","title":"Humidity3","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#acd5dc","#00a1e6","#1219f8"],"seg1":"50","seg2":"50.1","x":610,"y":820,"wires":[]},{"id":"2749bf3f.6992a","type":"ui_chart","z":"3b432bc7.cc6a44","name":"Temperature Chart3","group":"53f49d6b.525784","order":12,"width":"6","height":5,"label":"Temperature Chart3","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":640,"y":760,"wires":[[]]},{"id":"9512d624.875538","type":"ui_chart","z":"3b432bc7.cc6a44","name":"Humidity chart3","group":"3e00803d.95093","order":8,"width":"6","height":"5","label":"Humidity chart3","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":630,"y":880,"wires":[[]]},{"id":"8db9b480.374f18","type":"ui_gauge","z":"3b432bc7.cc6a44","name":"Temperature3","group":"53f49d6b.525784","order":2,"width":"6","height":5,"gtype":"donut","title":"Temperature3","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"25","seg2":"25.1","x":630,"y":660,"wires":[]},{"id":"c9ad18b1.957dd8","type":"http request","z":"3b432bc7.cc6a44","name":"Modbus_relay1","method":"GET","ret":"obj","paytoqs":"ignore","url":"188.166.206.43:8080/eNcdfThGmMV6uufuP6PBG28CDjfAGnul/get/V3","tls":"","persist":false,"proxy":"","authType":"","x":320,"y":1120,"wires":[["d755d2bb.5d49f"]]},{"id":"d755d2bb.5d49f","type":"switch","z":"3b432bc7.cc6a44","name":"STATUS","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":520,"y":1120,"wires":[["a320b57c.0dbfb8"],["78da8019.e6e11"]]},{"id":"a320b57c.0dbfb8","type":"change","z":"3b432bc7.cc6a44","name":"เปิด","rules":[{"t":"set","p":"payload","pt":"msg","to":"ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":1080,"wires":[["f5c9c6a4.dbdee8"]]},{"id":"78da8019.e6e11","type":"change","z":"3b432bc7.cc6a44","name":"ปิด","rules":[{"t":"set","p":"payload","pt":"msg","to":"OFF","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":1180,"wires":[["f5c9c6a4.dbdee8"]]},{"id":"df0fedf4.6065","type":"inject","z":"3b432bc7.cc6a44","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":1080,"wires":[["c9ad18b1.957dd8"]]},{"id":"f5c9c6a4.dbdee8","type":"ui_text","z":"3b432bc7.cc6a44","group":"3d7b3799.eea308","order":1,"width":0,"height":0,"name":"สถานะ Relay1","label":"สถานะ Relay1","format":"{{msg.payload}}","layout":"row-spread","x":940,"y":1120,"wires":[]},{"id":"522467b6.dbcbb8","type":"http request","z":"3b432bc7.cc6a44","name":"Modbus_relay2","method":"GET","ret":"obj","paytoqs":"ignore","url":"188.166.206.43:8080/eNcdfThGmMV6uufuP6PBG28CDjfAGnul/get/V5","tls":"","persist":false,"proxy":"","authType":"","x":300,"y":1300,"wires":[["e227ebd1.ee7a28"]]},{"id":"e227ebd1.ee7a28","type":"switch","z":"3b432bc7.cc6a44","name":"STATUS","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":500,"y":1300,"wires":[["7e6fd79d.5997a8"],["6f9347e8.46d7d8"]]},{"id":"7e6fd79d.5997a8","type":"change","z":"3b432bc7.cc6a44","name":"เปิด","rules":[{"t":"set","p":"payload","pt":"msg","to":"ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":1260,"wires":[["620815b8.b751bc"]]},{"id":"6f9347e8.46d7d8","type":"change","z":"3b432bc7.cc6a44","name":"ปิด","rules":[{"t":"set","p":"payload","pt":"msg","to":"OFF","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":1360,"wires":[["620815b8.b751bc"]]},{"id":"d197a181.04da9","type":"inject","z":"3b432bc7.cc6a44","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":90,"y":1260,"wires":[["522467b6.dbcbb8"]]},{"id":"620815b8.b751bc","type":"ui_text","z":"3b432bc7.cc6a44","group":"3d7b3799.eea308","order":2,"width":0,"height":0,"name":"สถานะ Relay2","label":"สถานะ Relay2","format":"{{msg.payload}}","layout":"row-spread","x":920,"y":1300,"wires":[]},{"id":"87337a50.b5a058","type":"http request","z":"3b432bc7.cc6a44","name":"Modbus_relay3","method":"GET","ret":"obj","paytoqs":"ignore","url":"188.166.206.43:8080/eNcdfThGmMV6uufuP6PBG28CDjfAGnul/get/V7","tls":"","persist":false,"proxy":"","authType":"","x":300,"y":1480,"wires":[["1a057bd7.daa1c4"]]},{"id":"1a057bd7.daa1c4","type":"switch","z":"3b432bc7.cc6a44","name":"STATUS","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":500,"y":1480,"wires":[["e77adcf4.b1acf"],["4c07eb63.a45d94"]]},{"id":"e77adcf4.b1acf","type":"change","z":"3b432bc7.cc6a44","name":"เปิด","rules":[{"t":"set","p":"payload","pt":"msg","to":"ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":1440,"wires":[["98a23c77.6eca2"]]},{"id":"4c07eb63.a45d94","type":"change","z":"3b432bc7.cc6a44","name":"ปิด","rules":[{"t":"set","p":"payload","pt":"msg","to":"OFF","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":1540,"wires":[["98a23c77.6eca2"]]},{"id":"ef263088.c77f3","type":"inject","z":"3b432bc7.cc6a44","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":90,"y":1440,"wires":[["87337a50.b5a058"]]},{"id":"98a23c77.6eca2","type":"ui_text","z":"3b432bc7.cc6a44","group":"3d7b3799.eea308","order":3,"width":0,"height":0,"name":"สถานะ Relay3","label":"สถานะ Relay3","format":"{{msg.payload}}","layout":"row-spread","x":920,"y":1480,"wires":[]},{"id":"86a665c6.bc62c8","type":"http request","z":"3b432bc7.cc6a44","name":"Modbus_relay4","method":"GET","ret":"obj","paytoqs":"ignore","url":"188.166.206.43:8080/eNcdfThGmMV6uufuP6PBG28CDjfAGnul/get/V9","tls":"","persist":false,"proxy":"","authType":"","x":300,"y":1660,"wires":[["a80a143.82b09e8"]]},{"id":"a80a143.82b09e8","type":"switch","z":"3b432bc7.cc6a44","name":"STATUS","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":500,"y":1660,"wires":[["6b94efcf.f945c"],["c9fb1152.14e38"]]},{"id":"6b94efcf.f945c","type":"change","z":"3b432bc7.cc6a44","name":"เปิด","rules":[{"t":"set","p":"payload","pt":"msg","to":"ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":1620,"wires":[["e89b5265.69734"]]},{"id":"c9fb1152.14e38","type":"change","z":"3b432bc7.cc6a44","name":"ปิด","rules":[{"t":"set","p":"payload","pt":"msg","to":"OFF","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":1720,"wires":[["e89b5265.69734"]]},{"id":"13c92964.3944c7","type":"inject","z":"3b432bc7.cc6a44","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":90,"y":1620,"wires":[["86a665c6.bc62c8"]]},{"id":"e89b5265.69734","type":"ui_text","z":"3b432bc7.cc6a44","group":"3d7b3799.eea308","order":4,"width":0,"height":0,"name":"สถานะ Relay4","label":"สถานะ Relay4","format":"{{msg.payload}}","layout":"row-spread","x":920,"y":1660,"wires":[]},{"id":"13d2a511.9af04b","type":"http request","z":"3b432bc7.cc6a44","name":"Modbus_relay5","method":"GET","ret":"obj","paytoqs":"ignore","url":"188.166.206.43:8080/eNcdfThGmMV6uufuP6PBG28CDjfAGnul/get/V11","tls":"","persist":false,"proxy":"","authType":"","x":300,"y":1880,"wires":[["ba537492.6e1f28"]]},{"id":"ba537492.6e1f28","type":"switch","z":"3b432bc7.cc6a44","name":"STATUS","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":500,"y":1880,"wires":[["d8c968e2.b911a8"],["7464162e.881228"]]},{"id":"d8c968e2.b911a8","type":"change","z":"3b432bc7.cc6a44","name":"เปิด","rules":[{"t":"set","p":"payload","pt":"msg","to":"ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":1840,"wires":[["32c49006.2bc32"]]},{"id":"7464162e.881228","type":"change","z":"3b432bc7.cc6a44","name":"ปิด","rules":[{"t":"set","p":"payload","pt":"msg","to":"OFF","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":1940,"wires":[["32c49006.2bc32"]]},{"id":"440fddd2.01dac4","type":"inject","z":"3b432bc7.cc6a44","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":90,"y":1840,"wires":[["13d2a511.9af04b"]]},{"id":"32c49006.2bc32","type":"ui_text","z":"3b432bc7.cc6a44","group":"3d7b3799.eea308","order":5,"width":0,"height":0,"name":"สถานะ Relay5","label":"สถานะ Relay5","format":"{{msg.payload}}","layout":"row-spread","x":920,"y":1880,"wires":[]},{"id":"6b5350cc.117c","type":"http request","z":"3b432bc7.cc6a44","name":"Modbus_relay6","method":"GET","ret":"obj","paytoqs":"ignore","url":"188.166.206.43:8080/eNcdfThGmMV6uufuP6PBG28CDjfAGnul/get/V13","tls":"","persist":false,"proxy":"","authType":"","x":300,"y":2060,"wires":[["5aaa6742.cece18"]]},{"id":"5aaa6742.cece18","type":"switch","z":"3b432bc7.cc6a44","name":"STATUS","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":500,"y":2060,"wires":[["6d82a0b9.899d1"],["71f0668e.3f8588"]]},{"id":"6d82a0b9.899d1","type":"change","z":"3b432bc7.cc6a44","name":"เปิด","rules":[{"t":"set","p":"payload","pt":"msg","to":"ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":2020,"wires":[["6ca3f1f8.5e2e3"]]},{"id":"71f0668e.3f8588","type":"change","z":"3b432bc7.cc6a44","name":"ปิด","rules":[{"t":"set","p":"payload","pt":"msg","to":"OFF","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":2120,"wires":[["6ca3f1f8.5e2e3"]]},{"id":"e6b6b5f5.a24508","type":"inject","z":"3b432bc7.cc6a44","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":90,"y":2020,"wires":[["6b5350cc.117c"]]},{"id":"6ca3f1f8.5e2e3","type":"ui_text","z":"3b432bc7.cc6a44","group":"3d7b3799.eea308","order":6,"width":0,"height":0,"name":"สถานะ Relay6","label":"สถานะ Relay6","format":"{{msg.payload}}","layout":"row-spread","x":920,"y":2060,"wires":[]},{"id":"8d670189.3bcd2","type":"http request","z":"3b432bc7.cc6a44","name":"Modbus_relay7","method":"GET","ret":"obj","paytoqs":"ignore","url":"188.166.206.43:8080/eNcdfThGmMV6uufuP6PBG28CDjfAGnul/get/V15","tls":"","persist":false,"proxy":"","authType":"","x":300,"y":2240,"wires":[["e01a9548.f99cd8"]]},{"id":"e01a9548.f99cd8","type":"switch","z":"3b432bc7.cc6a44","name":"STATUS","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":500,"y":2240,"wires":[["1484a0f4.dd80bf"],["a126beab.d0bbf"]]},{"id":"1484a0f4.dd80bf","type":"change","z":"3b432bc7.cc6a44","name":"เปิด","rules":[{"t":"set","p":"payload","pt":"msg","to":"ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":2200,"wires":[["3f58f8b7.12a0e8"]]},{"id":"a126beab.d0bbf","type":"change","z":"3b432bc7.cc6a44","name":"ปิด","rules":[{"t":"set","p":"payload","pt":"msg","to":"OFF","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":2300,"wires":[["3f58f8b7.12a0e8"]]},{"id":"c55688e2.2441f8","type":"inject","z":"3b432bc7.cc6a44","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":90,"y":2200,"wires":[["8d670189.3bcd2"]]},{"id":"3f58f8b7.12a0e8","type":"ui_text","z":"3b432bc7.cc6a44","group":"3d7b3799.eea308","order":7,"width":0,"height":0,"name":"สถานะ Relay7","label":"สถานะ Relay7","format":"{{msg.payload}}","layout":"row-spread","x":920,"y":2240,"wires":[]},{"id":"b590c9c1.526138","type":"http request","z":"3b432bc7.cc6a44","name":"Modbus_relay8","method":"GET","ret":"obj","paytoqs":"ignore","url":"188.166.206.43:8080/eNcdfThGmMV6uufuP6PBG28CDjfAGnul/get/V17","tls":"","persist":false,"proxy":"","authType":"","x":300,"y":2420,"wires":[["532107d.e9bd0f8"]]},{"id":"532107d.e9bd0f8","type":"switch","z":"3b432bc7.cc6a44","name":"STATUS","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":500,"y":2420,"wires":[["b4633609.cf0c88"],["8b5ea474.945658"]]},{"id":"b4633609.cf0c88","type":"change","z":"3b432bc7.cc6a44","name":"เปิด","rules":[{"t":"set","p":"payload","pt":"msg","to":"ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":2380,"wires":[["e27e94e1.007d18"]]},{"id":"8b5ea474.945658","type":"change","z":"3b432bc7.cc6a44","name":"ปิด","rules":[{"t":"set","p":"payload","pt":"msg","to":"OFF","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":2480,"wires":[["e27e94e1.007d18"]]},{"id":"1951044d.bfc20c","type":"inject","z":"3b432bc7.cc6a44","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":90,"y":2380,"wires":[["b590c9c1.526138"]]},{"id":"e27e94e1.007d18","type":"ui_text","z":"3b432bc7.cc6a44","group":"3d7b3799.eea308","order":8,"width":0,"height":0,"name":"สถานะ Relay8","label":"สถานะ Relay8","format":"{{msg.payload}}","layout":"row-spread","x":920,"y":2420,"wires":[]},{"id":"eca985a7.9c44f8","type":"mqtt-broker","name":"niamqttserver","broker":"178.128.111.158","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"84bd46a7.955988","type":"ui_group","name":"Humidity1","tab":"ef51551e.81fee8","order":1,"disp":true,"width":"10","collapse":true},{"id":"1b3079ce.631e06","type":"ui_group","name":"Temperature1","tab":"ef51551e.81fee8","order":2,"disp":true,"width":"10","collapse":true},{"id":"a4fd74e7.96c688","type":"ui_group","name":"Humidity2","tab":"ef51551e.81fee8","order":3,"disp":true,"width":"10","collapse":true},{"id":"db66c9cb.c18e08","type":"ui_group","name":"Temperature2","tab":"ef51551e.81fee8","order":4,"disp":true,"width":"10","collapse":true},{"id":"3e00803d.95093","type":"ui_group","name":"Humidity3","tab":"ef51551e.81fee8","order":5,"disp":true,"width":"10","collapse":true},{"id":"53f49d6b.525784","type":"ui_group","name":"Temperature3","tab":"ef51551e.81fee8","order":6,"disp":true,"width":"10","collapse":true},{"id":"3d7b3799.eea308","type":"ui_group","name":"สถานะของ Modbus Relay","tab":"ef51551e.81fee8","order":7,"disp":true,"width":"6","collapse":false},{"id":"ef51551e.81fee8","type":"ui_tab","d":true,"name":"ทดสอบอ่านค่า Modbus","icon":"dashboard","order":4,"disabled":false,"hidden":false}]